*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .Margin0Auto{
    margin: 0 auto;
    max-width: 56.25rem;
    background-color: aqua;
} */
/* qui do un background che sta nel retro del nav ed un padding */
.BackNav{
    padding: 1rem;
    width: 100%;
    background-color:#add8e6 ;
    
}

.DisplayFlex{
    display: flex;
}
/* qui la nav viene stilizzata e resa flex */
.Nav{
    max-width: 56.25rem;
    margin: 0 auto;
    background-color: #daa520;
    height: 2.1875rem;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-basis: 20%;
    align-items: center;
}

.login{
    display: flex;
    flex-basis: 20%;
    flex-direction: row-reverse;
    align-items: center;
}

.LinkBox{
    display: flex;
    flex-basis: 60%;
    justify-content: space-evenly;
    align-items: center;
}
/* inizio section */
.backBlu{
    height: 23.5rem;
    background-color: #00008b;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* contenuto della section precedentemente centrato */
.contenuto1SecH{
    min-width: 38rem;
    min-height: 18.75rem;
    background-color: #ee82ee;
}

.AColonne{
    flex-flow: column nowrap;
    height: 131rem;
    background-color: #ffffff;

}
.grey{
    background-color: antiquewhite;
}

.Container{
    min-height: calc((131rem - 46rem) / 3);
}

.Box4.Container{
    min-height: 46rem;
    background-color: bisque;

}
